page-home {
    .fot{
       
         padding-top: 5px;
         font-size: 15.5px !important;
    }
   

    ion-card-title{
        font-family: 'Cabin', sans-serif;
        font-size: 20.5px !important;
        color:#ffffff !important;
        height: 30px!important;
        
       
        

    }
   
    ion-card{ 
       
        color:white !important;
       
        min-height: 50px;
        background: linear-gradient(45deg,rgb(74, 134, 207),rgb(73, 138, 216),rgb(90, 147, 218)) !important ;
        border-top-right-radius: 25px!important;
        border-bottom-left-radius: 25px!important;
        font-size: 30px!important;
    
    }

}
