page-querys {
    .fot{
       
        padding-top: 20px;
        font-size: 17.5px !important;
   }
   .header{
       padding-top: -50px !important;
   }

   ion-card-header{
       font-family: 'Cabin', sans-serif;
       font-size: 27.5px !important;
       color: white!important;
       height: 70px!important;
       
      
       

   }
  
   ion-card{ 
      
       color:white !important;
      
       min-height: 100px;
       background: linear-gradient(30deg,rgb(170, 90, 15),rgb(248, 151, 59)) !important ;
       border-top-right-radius: 25px!important;
       border-bottom-left-radius: 25px!important;
       font-size: 30px!important;
   
   }

}
