page-ministry {
 .fot{
  font-family: 'Cabin', sans-serif;
   padding-top: 20px;
   font-size: 22.5px !important;
 }
  ion-card{
    background-color: rgba(82, 82, 82, 0.822)  !important;
    color:white !important;
    border-radius: 5px!important;
    height: 100px;
    min-height: 100px;
    box-shadow: rgb(78, 78, 78);
    
    
}

}

